<a href="https://colab.research.google.com/github/kuanhoong/mlstudyjam/blob/main/week1/pandas_exercise_(SC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Pandas

[Pandas](http://pandas.pydata.org/) is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. Pandas is free software released under the three-clause BSD license. The name is derived from the term _panel data_, an econometrics term for multidimensional structured data sets.

At it's core, Pandas consists of **NumPy arrays** and additional functions to perform typical data analysis tasks.

**Resources**:  
* [Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/index.html), especially
[10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Hernan Rojas' learn-pandas](https://bitbucket.org/hrojas/learn-pandas)  
* [Harvard CS109 lab1 content](https://github.com/cs109/2015lab1)

In [ ]:
import pandas as pd

### Exercises

#### Exercise 1
Create a <u>pandas Series</u> object from the following movie ratings
    
    The Avengers: 9.2
    Mr. Bean: 7.4
    Garfield: 2.1
    Star Wars The Force Awakens: 8.8

In [ ]:
### Your code here

#### Exercise 2
Select the rating for the movie 'Garfield'.

In [ ]:
### Your code here

#### Exercise 3
Select the **index** of the 2$^{nd}$ entry

In [ ]:
### Your code here

### Exercises
Familiarize yourselves with data frame creation and handling.

#### Exercise 4
Manually create a dataframe from the following data. EmployeeID should be the index of the dataframe. Try using different methods (e.g. nested dictionaries, list of lists, series objects as rows or columns)


EmployeeID | EmployeeName | Salary | Department
---------- | ------------ | ------ | ----------
2044       | James        |  2500  | Finance
1082       | Hannah       | 4000   | Sales
7386       | Victoria     | 3700   | IT

In [ ]:
### Your code here

#### Exercise 5
Read in the chocolate.csv (https://raw.githubusercontent.com/kuanhoong/mlstudyjam/main/data/chocolate.csv) data set and display the first 8 lines

In [ ]:
### Your code here

#### Exercise 6
Select only the chocolates with "Congo" as the country of origin and show only the rating, the cocoa percent, and the country of origin (to make sure we've selected the right products)

In [ ]:
### Your code here

#### Exercise 7
Oh no! There was a mistake in the data entry. One of the products has a missing country of origin. Please find it, replace it with "Venezuela", and save the fixed data frame as "chocolate_fixed.csv"

  - You can use `*.isna()` to identify which entry of a series is either `NaN` or `None`, e.g. `mySeries.isna()`
  - You can assign values to data frames just like you would to lists, e.g. `df.iloc[0, 5] = 15`

In [ ]:
### Your code here

#### Exercise 8
Load the "cars.csv" (https://raw.githubusercontent.com/kuanhoong/mlstudyjam/main/data/cars.csv) dataframe and calculate the average miles per gallon (column "mpg")

In [ ]:
### Your code here

#### Exercise 9
Cars can have 4, 6, or 8 cylinders (column "cyl"). Find the mean miles per gallon (column "mpg") for each of these classes **with** using the `groupby(...)` function.

*BONUS: Write a function that takes the number of cylinders and returns the mean miles per gallon.*

In [ ]:
### Your code here

#### Exercise 10
Repeat the above exercise but this time make use of the `groupby(...)` function.

In [ ]:
### Your code here

#### Exercise 11
Your client has a proprietary metric for car engine quality that is calculated as $Q = \frac{hp}{wt^2}$. Calculate this metric for all cars and then find the average for cars with a manual (column "am" == 1) or automatic (column "am" == 0) transmission.

**HINT** You can add the new metric as a column to your data frame via `cars["q_metric"] = ...`. Assignments to unknown column (or row) index names will result in new columns (or rows) to be appended to the data frame.

In [ ]:
### Your code here

#### Exercise 12
Merge the three data frames so that we have all information available for Bob, Alice, Kevin, and Joshua in a single data frame

In [ ]:
salaries = pd.DataFrame(
    data=[["Bob", 5000], ["Alice", 4000], ["Kevin", 8000]], 
    columns=["Name", "Salary"])
departments = pd.DataFrame(
    data=[["Kevin", "IT"], ["Joshua", "Data Science"], ["Bob", "Data Science"]], 
    columns=["Name", "Department"])
supervisors = pd.DataFrame(
    data=[["IT", "Jeremy"], ["Data Science", "Darren"], ["Sales", "Yvonne"]], 
    columns=["Department", "Supervisor"])

In [ ]:
display(salaries, departments, supervisors)

In [ ]:
### Your code here

## Exploratory Data Analysis
A large part of our task as data scientists and analysts is to find patterns and interesting phenomena within data. We can make use of Pandas' vast assortment of functions to help us with this. The following exercises are designed to help you get an idea of the kind of questions you can answer with Pandas.

This dataset describes all olympic athletes, the year they participated, the event they participated in, and whether they received a medal. The data is split into two files, `olympics_events.csv` and `olympics_games.csv`, describing the events and metadata of the games, respectively. The data has been adjusted from https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

### Exercise 1
1. Load the two files, `olympics_events.csv` (https://raw.githubusercontent.com/kuanhoong/mlstudyjam/main/data/olympics_events.csv) and `olympics_games.csv` (https://raw.githubusercontent.com/kuanhoong/mlstudyjam/main/data/olympics_games.csv), and display the first 10 lines of each data frame.

In [ ]:
### Your code here

2. Merge the two data frames on the `GamesID` and `ID` columns. Join = **outer**. Drop the now-unnecessary id-columns afterwards.

In [ ]:
### Your code here

### Exercise 2
History lesson! Malaysia's olympic nationality code is `MAS`. Prior to this, the Federation of Malaya competed under the code `MAL`. Likewise, Sarawak and Sabah competed as North Borneo (`NBO`).

1. In which years did the Federation of Malaya compete in the Olympics?

In [ ]:
### Your code here

2. How many athletes did they send?

In [ ]:
### Your code here

3. Who were the first countries to participate in the Olympic games (as per this data set)?

In [ ]:
### Your code here

4. How many men and women has Malaysia (`MAS`) sent to the Olympics in total? Keep in mind that athletes can participate in multiple events and multiple years. Each person should only ever be counted once.

*HINT*: As we're only interested in athlete names and their genders, it's easiest to drop other columns and not have to worry about them. Create a new data frame but don't overwrite `events` as we'll need it for later exercises as well, though.

In [ ]:
### Your code here

### Exercise 3
1. How many men and women has Malaysia (`MAS`) sent to the Olympics each year?

    Hint: This is a lot like the previous question except that athletes only count as duplicate now if they compete in multiple events in the same year. An athlete competing in multiple years is no longer duplicate.

In [ ]:
### Your code here

### Exercise 4
Let's start looking at some of the numerical data!

1. How many gold medals has each country won? How about Malaysia (`MAS`)?

In [ ]:
### Your code here

### Exercise 5
1. What is the median age of gold medalists?

In [ ]:
### Your code here

2. What is the median age of gold, silver, and bronze medalists for each individual sport?

In [ ]:
### Your code here

2. Look at only swimmers. How has the mean weight of all competitors changed throughout the years? Use `*.plot()` to get a visual sense of the trend.

In [ ]:
### Your code here

3. What is the mean and standard deviation of the BMI of athletes in each sports discipline? The BMI can be computed as 

    $$BMI = Weight~/~\left(\frac{Height}{100}\right)^2$$

    with the values in this dataset. To solve this question, break it down into individual steps:
    - Calculate the BMI for all athletes
    - Group by 'Sport'
    - Calculate the mean and standard deviation of the BMI of the grouped data frame
    
    *Hint*: Use `*.agg([..., ...])` to apply "mean" and "std" (standard deviation) simultaneously.

In [ ]:
### Your code here

### Exercise 6
1. What country has the most gold medals in wrestling?

In [ ]:
### Your code here

2. How many different types of events have ever been held for fencing?

In [ ]:
### Your code here